{% import _self as macros %}

{% set scope = {
    departments: departments ?? [],
    heads: heads ?? [],
} %}

{% macro content(scope) %}
    <div class="Section">
        <div class="Section__header">
            <h2 class="Section__title">
                Кафедры
            </h2>
            <button type="button" class="Section__button" id="#open_create_department" data-uk-toggle="#create_department">
                Создать кафедру
            </button>
        </div>
        <table class="SectionStudy__table">
            <tr>
                <td>Полное название кафедры</td>
                <td>Сокращённое название кафедры</td>
                <td>Заведующий кафедры</td>
                <td>Редактирование</td>
            </tr>
            {% set count = 0 %}
            {% for item in scope.departments %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.short_name }}</td>
                    <td>{{ scope.heads[count].name }} {{ scope.heads[count].surname }}</td>
                    <td>
                        <button id="#open_update_department_{{ item.id }}" name="change_btn"
                                type="button" class="Button Button--primary" data-uk-toggle="#change-department"
                                value="{{ item.id }}">
                            Изменить
                        </button>
                    </td>
                </tr>
                {% set count = count+1 %}
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            department_id = document.getElementById("department_id")
            department_name = document.getElementById("department_name")
            department_short_name = document.getElementById("department_short_name")
            buttons = document.getElementsByName("change_btn")
            select = document.getElementById("select")
            departments = {{ scope.departments|json_encode|raw }}
                heads = {{ scope.heads|json_encode|raw }}


            for (let i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener('click', function () {
                        del = document.getElementById("added");
                        if (del != null) {
                            del.remove()
                        }
                        department_id.value = buttons[i].value;
                        for (let j = 0; j < departments.length; j++) {
                            if (departments[j].id == department_id.value) {
                                department_name.value = departments[j].name
                                department_short_name.value = departments[j].short_name
                                var opt = document.createElement('option');
                                opt.id = "added"
                                opt.value = heads[j].id
                                opt.innerHTML = heads[j].name + " " + heads[j].surname
                                opt.setAttribute('selected', true);
                                select.appendChild(opt)
                            }
                        }
                    }
                )
            }
            {% if errors.any() %}
                {% if session_has('create_error') %}
                    document.getElementById("create_name").value = "{{ old('name') }}"
                    document.getElementById("create_short_name").value = "{{ old('text') }}"
                    document.getElementById("create_head_".concat("{{ old('head_of_department') }}")).setAttribute("selected", "true");
                    document.getElementById('#open_create_department').click()
                {% endif %}
                {% if session_has('update_error') %}
                    document.getElementById('#open_update_department_'.concat({{ session_get('department_id') }})).click()
                {% endif %}
            {% endif %}
        }
    </script>
    <script type="text/javascript">

    </script>
{% endmacro %}

{{ macros.content(scope) }}
