{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            name: 'Группы и дисциплины',
        },
        {
            url: '/confirm-student-registration',
            name: 'Регистрация студентов',
        },
    ],
} %}

{% macro logoutButton() %}
    <a class="Button Button--primary LinkWhite" href="{{ route('logout') }}">
        Выйти из системы
    </a>
{% endmacro %}

{% macro offCanvasButton() %}
    <button type="button" class="Button Button--primary Button--offCanvasButton" uk-toggle="target: #offcanvas">
        <img
            class="OffCanvasButton__icon"
            src="{{ '/images/offCanvasButton.png' }}"
            alt="Меню"
            width="24"
            height="19"
        >
    </button>
{% endmacro %}

{% macro userProfileButton() %}
    <div class="UserProfileButton">
        <img
            class="UserProfileButton__icon"
            src="{{ '/images/profile.png' }}"
            alt="Профиль"
        >
    </div>
    <div uk-dropdown="mode: click; pos: bottom-right">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="{{ route('profile') }}">Личный кабинет</a></li>
            <li class="uk-active"><a href="#">Оповещения</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-active"><a href="{{ route('logout') }}">Выйти из системы</a></li>
        </ul>
    </div>
{% endmacro %}

{% macro offCanvas(scope) %}
    <div id="offcanvas" class="OffCanvas" uk-offcanvas="overlay: true; flip: true">
        <div class="OffCanvas__content uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <div class="OffCanvas__menu">
                {% include 'components/site-nav.twig' with {
                    items: scope.menu,
                    vertical: true,
                } %}
            </div>

            <div class="OffCanvas__logoutButton">
                {{ macros.logoutButton }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro content(scope) %}
    <div class="Header">
        <div class="Header__logo">
            Кафедра
        </div>

        {% if (auth_check()) %}
            <div class="Header__menu">
                {% include 'components/site-nav.twig' with {
                    items: scope.menu,
                    vertical: false,
                } %}
            </div>

            <div class="Header__userProfileButton">
                {{ macros.userProfileButton }}
            </div>

            <div class="Header__offCanvasButton">
                {{ macros.offCanvasButton }}
            </div>
        {% endif %}
    </div>

    {{ macros.offCanvas(scope) }}
{% endmacro %}

{{ macros.content(scope) }}
