{% import _self as macros %}

{% set scope = {
    user: auth_user,
    menu: {
        admin: [
            {
                url: '/',
                name: 'Кафедры',
            },
            {
                url: '/confirm-student-registration',
                name: 'Регистрация студентов',
            },
        ],
        head: [
            {
                url: '/',
                name: 'Группы и дисциплины',
            },
            {
                url: '/confirm-student-registration',
                name: 'Регистрация студентов',
            },
        ],
        teacher: [
            {
                url: '/',
                name: 'Ваши дисциплины',
            },
        ] ,
        student: [
            {
                url: '/',
                name: 'Ваши дисциплины',
            },
        ],
    },
} %}

{% macro logoutButton() %}
    <a class="Button Button--primary LinkWhite" href="{{ route('logout') }}">
        Выйти из системы
    </a>
{% endmacro %}

{% macro offCanvasButton() %}
    <button type="button" class="Button Button--primary Button--offCanvasButton" uk-toggle="target: #offcanvas">
        <img
            class="OffCanvasButton__icon"
            src="{{ '/images/offCanvasButton.png' }}"
            alt="Меню"
            width="24"
            height="19"
        >
    </button>
{% endmacro %}

{% macro userProfileButton() %}
    <div class="UserProfileButton">
        <img
            class="UserProfileButton__icon"
            src="{{ '/images/profile.png' }}"
            alt="Профиль"
        >
    </div>
    <div uk-dropdown="mode: click; pos: bottom-right">
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="{{ route('profile') }}">Личный кабинет</a></li>
            <li class="uk-active"><a href="{{ route('notifications') }}">Оповещения</a></li>
            <li class="uk-nav-divider"></li>
            <li class="uk-active"><a href="{{ route('logout') }}">Выйти из системы</a></li>
        </ul>
    </div>
{% endmacro %}

{% macro offCanvas(scope) %}
    <div id="offcanvas" class="OffCanvas" uk-offcanvas="overlay: true; flip: true">
        <div class="OffCanvas__content uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <div class="OffCanvas__menu">
                {% if (scope.user.role == "student") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.student,
                            vertical: true,
                        } %}
                {% endif %}
                {% if (scope.user.role == "teacher") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.teacher,
                            vertical: true,
                        } %}
                {% endif %}
                {% if (scope.user.role == "head") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.head,
                            vertical: true,
                        } %}
                {% endif %}
                {% if (scope.user.role == "admin") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.admin,
                            vertical: true,
                        } %}
                {% endif %}
            </div>

            <div class="OffCanvas__logoutButton">
                {{ macros.logoutButton }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro content(scope) %}
    <div class="Header">
        <div ><a class="Header__logo" href="/"> Кафедра</a>
        </div>

        <!-- Don't forget to return back -->
        {% if (auth_check()) %}
            <div class="Header__menu">
                {% if (auth_user().role == "student") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.student,
                            vertical: false,
                        } %}
                {% endif %}
                {% if (auth_user().role == "teacher") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.teacher,
                            vertical: false,
                        } %}
                {% endif %}
                {% if (auth_user().role == "head") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.head,
                            vertical: false,
                        } %}
                {% endif %}
                {% if (auth_user().role == "admin") %}
                        {% include 'components/site-nav.twig' with {
                            items: scope.menu.admin,
                            vertical: false,
                        } %}
                {% endif %}
            </div>

            <div class="Header__userProfileButton">
                {{ macros.userProfileButton }}
            </div>

            <div class="Header__offCanvasButton">
                {{ macros.offCanvasButton }}
            </div>
        {% endif %}
    </div>

    {{ macros.offCanvas(scope) }}
{% endmacro %}

{{ macros.content(scope) }}
