{% import _self as macros %}

{% set scope = notifications ?? [] %}

{% macro content(scope) %}
    {% for item in scope %}
        <div class="Notification__section">
            <p class="Notification__text" ids="{{ item.ids }}">
                {{ item.count }} {{ item.notification.text }}
            </p>
            <form class="Notification__button" action = "{{ route('read-notifications', [item.ids]) }}" method = "post">
                {{ csrf_field() }}
                {{ method_field('patch') }}
                <button class="Button Button--primary LinkWhite">Прочитано</button>
            </form>
            <input type="checkbox" name="" value="прочитано" class="Notification__point">
        </div>
    {% endfor %}
{% endmacro %}

{{ macros.content(scope) }}
