{% import _self as macros %}

{% set scope = scope ?? [] %}

{% macro content(scope) %}
    <div class="SectionStudy">
        <div class="Section SectionStudy">
            <div class="Section__header">
                <h2 class="Section__title">
                    Разделы
                </h2>
                {% if (auth_user().role == 'teacher' or auth_user().role == 'head')%}
                    <button type="button" id="open_create_section" class="Section__button" data-uk-toggle="#create_section">
                        Добавить раздел
                    </button>
                {% endif %}
            </div>
            <table class="SectionStudy__table">
                <tr>
                    <th>Название раздела</th>
                    <th>Описание</th>
                </tr>
                {% for item in scope %}
                    <tr>
                        <td><a href="{{ route('section', [item.id]) }}" class="SectionStudy__link">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            {% if errors.any() %}
                document.getElementById("section_name").value = "{{ old('name') }}"
                document.getElementById("section_text").value = "{{ old('text') }}"
                document.getElementById('open_create_section').click()
            {% endif %}
        }
    </script>
{% endmacro %}

{{ macros.content(scope) }}
