{% import _self as macros %}

{% set scope = {
    items: items ?? [],
    groups: groups ?? [],
} %}

{% macro content(scope) %}
    <div class="StudentList">
        <div class="StudentList__header">
            <h2 class="StudentList__title">
                Студенты ожидающие подтверждения
            </h2>
        </div>
        <div class="StudentList__scrollable">
            <ul class="StudentList__list">
                {% set count = 0 %}
                {% for item in scope.items %}
                    {% set item = {
                        id: item.id ?? '',
                        name: item.name ?? '',
                        surname: item.surname ?? '',
                        group: scope.groups[count] ?? '',
                        email: item.email ?? '',
                        image: item.image ?? '',
                    } %}

                    <li class="StudentList__item">
                        <img class="StudentList__itemImage" src="{{ item.image }}" alt="Фото">

                        <p class="StudentList__itemName">
                            {{ item.surname }} {{ item.name }}
                        </p>
                        <p class="StudentList__itemEmail">
                            {{ item.email }}
                        </p>
                        <p class="StudentList__itemGroup">
                            {{ item.group }}
                        </p>
                        <form class="StudentList__itemButton" action = "{{ route('confirm_user', [item.id]) }}" method = "post">
                            {{ csrf_field() }}
                            {{ method_field('patch') }}
                            <button class="Button Button--primary LinkWhite">Подтвердить</button>
                        </form>
                    </li>
                    {% set count = count+1 %}
                {% endfor %}

            </ul>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}
