{% import _self as macros %}

{% set scope = scope ?? {} %}

{% macro content(scope) %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <div class="Section__block">
            <div class="PostSection">
                <div class="PostSection__header">
                    <h2 class="PostSection__title">
                        {{ scope.section.name }}
                    </h2>
                </div>
                <div class="PostSection__main">
                    <p class="PostSection__text">
                        {{ scope.section.text }}
                        {% if scope.section.file %}
                            <p><a href="{{ scope.section.file }}" target="_blank"> это файл</a></p>
                        {% endif %}
                    </p>
                </div>
                <a id="comments"></a>
                <div class="PostSection__comments">
                    {% include 'components/comment_pagination.twig' with {
                        comments: scope.comments,
                        users: scope.users,
                        replies: scope.replies,
                    } %}
                </div>
                <a id="form"></a>
                <div class="PostSection__newComments">
                    <form method="POST" action="{{ route('store_comment') }}" class="PostSection__addComments" enctype="multipart/form-data">
                        {{ csrf_field() }}
                        <input id="reply_id" type="hidden" name="reply_id" value=""/>
                        <input id="section_id" type="hidden" name="section_id" value="{{ scope.section.id }}"/>
                        <label for="comment" class="PostSection__addComments--label">Оставить комментарий</label>
                        <p id="reply_info"></p>
                        <p id="cancel_reply"></p>
                        <textarea name="text" class="PostSection__addComments--textarea">{{ old('text') }}</textarea>
                        {% if errors.first('text') %}
                            <p>{{ errors.first('text') }}</p>
                        {% endif %}
                        <p class="PostSection__addFile"><input class="Form__fileChooser" type="file" name="file" id="file" value="{{ old('file') }}">
                        {% if errors.first('file') %}
                            <p>{{ errors.first('file') }}</p>
                        {% endif %}
                        <button class="Button Button--primary PostSection__sendButton">
                            Поделиться
                        </button>
                    </form>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function () {
            $(document).on('click', '.pagination a', function (event) {
                event.preventDefault();
                var page = $(this).attr('href').split('page=')[1];
                get_comments(page);
                location.hash = "";
                location.hash = "#comments";
            });
        })

        let currentRequest = null;
        function get_comments(page) {
            var l = window.location;
            comm_url = l.origin + "/comments/"+{{ scope.section.id }} +"/pagination" + "?page=" + page,
            currentRequest = $.ajax({
                url: comm_url,
                beforeSend : function()    {
                    if(currentRequest != null) {
                        currentRequest.abort();
                    }
                    $('#load_img').show()
                    $('.Comment').hide()
                    $('.PostSection__titleComment').hide()

                },
                success: function (result) {
                    $('.PostSection__comments').html(result)
                },
                complete: function () {
                    $("#load_img").hide()
                    $('.Comment').show()
                    $('.PostSection__titleComment').show()
                }
            })
        }
    </script>

    <script type="text/javascript">
        btns = document.getElementsByClassName("reply_comment");
        reply_info = document.getElementById("reply_info");
        cancel_reply = document.getElementById("cancel_reply");
        for(let i = 0; i < btns.length; i++) {
            btns[i].addEventListener('click', function () {
                id =  btns[i].getAttribute("id");
                document.getElementById("reply_id").value = id.split('_')[1];
                let comment = document.getElementById("comment_"+id.split('_')[1]);
                let name = comment.getElementsByClassName("Comment__header--name")[0].textContent;
                document.getElementById("reply_info").textContent = "Вы отвечаете на сообщение " + name;
                cancel_reply.textContent = "Отставить ответ"
                location.hash = "";
                location.hash = "#form";
            });
        }
        cancel_reply.addEventListener('click', function () {
            document.getElementById("reply_id").value = ""
            document.getElementById("reply_info").textContent = ""
            cancel_reply.textContent = ""
        })
    </script>
{% endmacro %}

{{ macros.content(scope) }}
