{% import _self as macros %}

{% set scope = scope ?? {} %}

{% macro content(scope) %}
        <div class=" Section__block">
            <div class="PostSection">
                <div class="PostSection__header">
                    <h2 class="PostSection__title">
                        {{ scope.section.name }}
                    </h2>
                </div>
                <div class="PostSection__main">
                    <p class="PostSection__text">
                        {{ scope.section.text }}
                    </p>
                </div>
                <div class="PostSection__comments">
                    <p class="PostSection__titleComment">Комментарии:</p>
                    {% set count = 0 %}
                    {% for comment in scope.comments %}
                        <div class="Comment">
                            <div class="Comment__avatar">
                                <img src="{{ scope.users[count].avatar }}" alt="Аватарка">
                            </div>
                            <div class="Comment__header">
                                <div class="Comment__header--name">
                                    {{ scope.users[count].name ~ ' ' ~ scope.users[count].surname}}
                                </div>
                                <div class="Comment__header--date">
                                    {{ comment.created_at }}
                                </div>
                            </div>
                            <div class="Comment__text">
                                <p>{{ comment.text }}</p>
                            </div>
                            {% if comment.file %}
                                <a href="{{ comment.file }}" target="_blank"> это файл</a>
                            {% endif %}
                            <div class="Comment__footer">
                                <a href="/" class="Comment__button">
                                    Ответить
                                </a>
                            </div>
                        </div>
                        {% set count = count+1 %}
                    {% endfor %}

                </div>
                <a id="form"></a>
                <div class="PostSection__newComments">
                    <form method="POST" action="{{ route('store_comment') }}" class="PostSection__addComments" enctype="multipart/form-data">
                        {{ csrf_field() }}
                        <input id="section_id" type="hidden" name="section_id" value="{{ scope.section.id }}"/>
                        <label for="comment" class="PostSection__addComments--label">Оставить комментарий</label>
                        <textarea name="text" class="PostSection__addComments--textarea">{{ old('text') }}</textarea>
                        {% if errors.first('text') %}
                            <p>{{ errors.first('text') }}</p>
                        {% endif %}
                        <p class="PostSection__addFile"><input type="file" name="file" id="file" value="{{ old('file') }}">
                        {% if errors.first('file') %}
                            <p>{{ errors.first('file') }}</p>
                        {% endif %}
                            <input type="submit" value="Добавить"></p>
                        <button class="PostSection__button">
                            Поделиться
                        </button>
                    </form>
                </div>

            </div>
        </div>
{% endmacro %}

{{ macros.content(scope) }}
