{% import _self as macros %}
{% set scope = {
    subjects: subjects ?? [],
    teachers: teachers ?? [],
    groups: groups ?? [],
    showGroup: showGroup ?? true,
    showTeacher: showTeacher ?? true,
} %}

{% macro content(scope) %}
    <div class="SubjectTable">
        <div class="SubjectTable__header">
            <h2 class="SubjectTable__title">
                Дисциплины
            </h2>
        </div>
        <div class="SubjectTable__scrollable">
            <table class="SubjectTable__table">
                <tr>
                    <th>Название</th>
                    {% if scope.showGroup == true %} <th>Группа</th> {% endif %}
                    {% if scope.showTeacher == true %} <th>Преподаватель</th> {% endif %}
                </tr>
                {% set count = 0 %}
                {% for item in scope.subjects %}
                    {% set item = {
                        name: item.name ?? '',
                        id: item.id ?? '',
                        group: scope.groups[count].short_name ?? '',
                        teacher: scope.teachers[count].name ~ ' ' ~ scope.teachers[count].surname?? '',
                    } %}
                    {% set count = count + 1 %}
                    <tr>
                        <td>
                            <a href="{{ route('discipline', [item.id]) }}">{{ item.name }}</a>
                        </td>
                        {% if scope.showGroup == true %}
                            <td>{{ item.group }}</td>
                        {% endif %}
                        {% if scope.showTeacher == true %}
                            <td>{{ item.teacher }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}
