{% import _self as macros %}

{% set scope = {
    user: scope.user,
} %}

{% macro content(scope) %}
    <div class="UserProfile">
        <div class="UserProfile__header">
            <h2 class="UserProfile__title">
                Личный кабинет
            </h2>
            <div class="UserProfile__menu">
                <a class="UserProfile__menuItem" href="{{ route('notifications') }}">
                    Оповещения
                </a>
                <a class="UserProfile__menuItem LinkRed" href="{{ route('logout') }}">
                    Выйти
                </a>
            </div>
        </div>
        <div class="UserProfile__info">
            <div class="UserProfile__infoImage">
                <img class="UserProfile__image" src="{{ scope.user.avatar }}" alt="Фото">
            </div>
            <div class="UserProfile__infoText">
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Имя:</label>
                    <p class="UserProfile__itemValue">{{ scope.user.name }}</p>
                </div>
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Фамилия:</label>
                    <p class="UserProfile__itemValue">{{ scope.user.surname }}</p>
                </div>
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Email:</label>
                    <p class="UserProfile__itemValue">{{ scope.user.email }}</p>
                </div>
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Роль:</label>
                    {% if scope.user.role == 'student' %}
                        <p class="UserProfile__itemValue">Студент</p>
                    {% elseif scope.user.role == 'head' %}
                        <p class="UserProfile__itemValue">Зав. кафедры</p>
                    {% elseif scope.user.role == 'teacher' %}
                        <p class="UserProfile__itemValue">Преподаватель</p>
                    {% endif %}
                </div>

                {% if (scope.user.role == "student") %}
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Группа:</label>
                    <p class="UserProfile__itemValue">{{ scope.user.student.group.name }}</p>
                </div>
                {% endif %}

                {% if (scope.user.role == "head") %}
                <div class="UserProfile__item">
                    <label class="UserProfile__itemLabel">Кафедра:</label>
                    <p class="UserProfile__itemValue">{{ scope.user.department.name }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}
