{% import _self as macros %}

{% set scope = {
    list: list ?? [],
} %}

{% macro content(scope) %}
    <div id="change-department" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Изменение кафедры</h2>
            <button type="button" class="uk-modal-close-default" data-uk-close></button>
            <form method="POST" action="{{ route('change-department') }}" class="SectionForm">
                {{ csrf_field() }}
                <input id="department_id" type="hidden" name="department_id" value=""/>
                <label for="fullName" class="SectionFrom__title ">
                    Полное название кафедры:
                </label>
                <input id="department_name" type="text" class="SectionForm__input" name="name">
                {% if errors.first('name') %}
                    <p>{{ errors.first('name') }}</p>
                {% endif %}
                <label for="miniName" class="SectionForm__title">
                    Сокращённое название кафедры:
                </label>
                <input id="department_short_name" name="text" id="" class="SectionForm__input" value="{{ scope.miniName }}">
                {% if errors.first('text') %}
                    <p>{{ errors.first('text') }}</p>
                {% endif %}
                <label for="boss" class="SectionForm__title">
                    Заведующий кафедры:
                </label>
                <select name="head_of_department" id="select" class="SectionForm__select">
                    {% for item in scope.list %}
                        <option value="{{ item.id }}">{{ item.name}} {{ item.surname}}</option>
                    {% endfor %}
                </select>
                {% if errors.first('head_of_department') %}
                    <p>{{ errors.first('head_of_department') }}</p>
                {% endif %}
                <div class="SectionForm__footer">
                    <button class="Button Button--primary Form__button" type="submit"  name="action" value="update">
                        Изменить
                    </button>
                    <button class="Button Button--primary Form__button" type="submit" name="action" value="delete">
                        Удалить
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}
